*.dylib
*.o
*.os
*.pyc
*.so
*~
core.*
.sconf_temp
.sconsign.dblite
config.log
bin/sph-duplicate
bin/sph-estimate-stats
bin/sph-htm-index
bin/sph-partition-matches
bin/sph-partition
python/lsst/partition/version.py
tests/.tests/
tests/chunkIndex
tests/csv
tests/fileUtils
tests/geometry
tests/htmIndex
tests/mapReduce
tests/vector
ups/*.cfgc
