*.dylib
*.o
*.os
*.pyc
*.so
*~
core.*
.sconf_temp
.sconsign.dblite
config.log
bin/sph-*
python/lsst/partition/version.py
tests/.tests/
tests/chunkIndex
tests/csv
tests/fileUtils
tests/geometry
tests/htmIndex
tests/mapReduce
tests/objectIndex
tests/vector
ups/*.cfgc
